---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Kylan Curran";
---
<Layout pageTitle={pageTitle}>

 <p>
	 I am a senior at the University of Oregon expected to graduate December 2025 with a Bachelor's of Science in Art 
     and Technology, and minors in Computer Science and Comics and Cartoon Studies. 
     I have a strong focus in both graphic design and cybersecurity where I am currently seeking a full-time job opportunity.
    I am hardworking, organized, and highly adaptable, with a creative process guided by attention to detail and a strong 
    sense of visual harmony. 
 </p>
 <p>
     My primary goal is to pursue a career in the field of design; particularly graphic design, animation, or game design. 
     However, I am open and eager to explore different opportunities in this field.

    I am also open to continuing towards a career in cybersecurity. This is a field that I found myself passionate
    about upon contributing to in my student security analyst job. 
 </p>


</Layout>