---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import poolShark from '../assets/MyKin/poolShark.jpg';
import Roy from '../assets/RoyRecommends/InputController1.jpg';

const pageTitle = "Kylan Curran";
---
<Layout pageTitle={pageTitle}>
  <div class="card-container">
    <a href="/" class="card">
      <Image src={poolShark} alt="MyKin project" />
      <div class="card-title">MyKin</div>
    </a>

    <a href="/" class="card">
      <Image src={Roy} alt="Robot Controller project" />
      <div class="card-title">Roy Recommends</div>
    </a>
  </div>
</Layout>
